{
  "@context": "http://www.daostar.org/schemas",
  "type": "Organization",
  "name": "{{ORGANIZATION_NAME}}",
  "description": "{{ORGANIZATION_DESCRIPTION}}",
  "membersURI": "https://{{BASE_URL}}/.well-known/members.json",
  "proposalsURI": "https://{{BASE_URL}}/.well-known/proposals.json",
  "activityLogURI": "https://{{BASE_URL}}/.well-known/activities.json",
  "governanceURI": "https://{{BASE_URL}}/governance",
  "contractsURI": "https://{{BASE_URL}}/.well-known/contracts.json",
  "meetingsURI": "https://{{BASE_URL}}/.well-known/meetings.json",
  "projectsURI": "https://{{BASE_URL}}/.well-known/projects.json",
  "financesURI": "https://{{BASE_URL}}/.well-known/finances.json"
}
